<div class='bio'>
  <div class='photo'>
    <img src='<perch:content id="product_image" type="image" label="staff-image" required="true" />' alt='<perch:content id="text" type="text" label="Image Description"  title="true" />'>
  </div>
  <div class='title'>
    <perch:content id="staff-title" type="text" label="Title:" required="true" title="true" />
    <span>
      <perch:content id="staff-name" type="text" label="Name:" required="true" title="true" />
    </span>
  </div>
  <div class='clear'></div>
  <p><perch:content id="staff-bio" type="textarea" label="Bio:" required="true" title="true" /></p>
</div>
